html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: azure;
}

.e-bigger {
  font-size: x-large;
}

.main-content {
    margin-left: 290px;
    overflow-y : auto;
    height:92vh;
}

/* Radio button */
.custom-rbt-group {
  width: 100%;
}
.custom-rbt-group .e-btn {
  width: 50%;
}
.custom-rbt-group label.e-btn {
  box-shadow: none !important;
  border: 1px solid #258cfb;
  background-color: #3c70a8;
}

.e-btn-group.custom-rbt-group input:checked + label.e-btn {
  background-color: #71b6ff;
  border: 1px solid #258cfb;
  color: rgb(255, 255, 255);
}

/* Widget */
.widget {
  border-radius: 1rem;
  background-color: #74b2f5;
}

.widget.summary > div:first-child {
  background-color: #2d6ba2;
  padding: 1rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.widget.summary > div:first-child i {
  font-weight: bold;
}

.widget.income > div:first-child {
  color: #65da41;
}

.widget.expense > div:first-child {
  color: #ff4e48;
}

.widget.balance > div:first-child {
  color: #2aa1ff;
}

.widget.chart {
  padding: 5px;
}

/* Grid */
.e-grid {
  border: 0;
  border-radius: 5px;
}

.e-grid .e-gridcontent,
.e-grid .e-table {
  background-color: #74b2f5;
}

.e-grid .e-gridheader {
  border: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #3c70a8;
}

.e-grid .e-gridheader .e-headercell {
  background-color: #3c70a8;
}

.e-grid .e-gridpager {
  background-color: #74b2f5;
}

.e-grid .e-pagercontainer {
  border: none;
  background-color: #74b2f5;
}

.e-grid .e-content table {
  padding: 0px;
  background-color: #71b6ff;
}

.e-pagercontainer .e-icons {
  background-color: #74b2f5;
  border: none !important;
}

.e-pager .e-numericitem {
  color: #adb5bd;
  background-color: #74b2f5;
  padding: 15px !important;
}

.e-pager .e-numericitem:not(.e-currentitem) {
  border: none !important;
}

.e-pager .e-numericitem:hover {
  color: #fff;
}

.e-pager .e-numericitem.e-currentitem {
  color: #fff;
  border: none !important;
  background-color: #3c70a8;
}

.e-pager div.e-icons:not(.e-disable) {
  color: #fff;
  cursor: pointer;
  font-weight: bold;
}

.e-grid .e-pager {
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* Button */
.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none;
}

/* Hyperlink */
.no-a-decoration,
.no-a-decoration:hover {
  text-decoration: none;
  color: inherit;
}

/* SideBar */
#sidebar {
  background-color: #74b2f5;
  border-right: 0px none rgba(37, 140, 251, 0.24);
  padding: 20px 20px;
}
/*Navbar*/
nav.navbar {
  background-color: #74b2f5;
}

nav.navbar i {
  border-radius: 50%;
  font-size: 1.2rem;
  cursor: pointer;
}

nav.navbar i:hover,
nav.navbar img:hover {
  cursor: pointer;
  background-color: #48545f14;
  transform: scale(1.05) translateZ(0px);
}

/*Menu*/
#menu {
  width: 100% !important;
  overflow: hidden;
  background-color: #3c70a8;
  padding-top: 20px;
}

#menu .e-menu-item:not(.e-separator) {
  border-radius: 4px;
}

#menu .e-menu-item {
  box-sizing: border-box;
}

#menu .e-menu-item a {
  width: 100%;
  color: rgb(0, 0, 0);
  font-weight: 300;
  padding: 7px 5px;
  box-sizing: border-box;
}

#menu .e-anchor-wrap {
  display: inline-block;
}

#menu .e-menu-item .e-anchor-wrap span.e-menu-icon {
  color: rgb(0, 0, 0);
}

#menu .e-menu-item.e-separator {
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  color: #00ff1e;
}

#menu .e-menu-item.e-separator:not(:first-child) {
  margin-top: 35px;
}
